python-dotenv
pymupdf
docling
mistralai==1.12.4
google-genai
openai
groq
markdown
requests
llama-parse

# Phase 2 & 3: Indexing + RAG
langchain-core
langchain-huggingface
langchain-qdrant
qdrant-client
sentence-transformers
streamlit